@import "tailwindcss";

#root {
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
}


.navbar{
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 5rem;
  background-color: #e2e2e2;
}

ul{
  display: flex;
  list-style: none;
  gap: 2rem;
}

a{
  cursor: pointer;
}

main{
  display: flex;
  gap: 5vw;
  width: 100%;
}

.card-Section{
  display: grid;
  grid-template-areas: "onee twoo";
  width: 60%;
  overflow: auto;
  max-height: 75vh;
  scrollbar-width: none;
  grid-area: one;
  padding: 2rem;
  gap: 2rem;
}


.cart-Section{
  width: 40%;
  padding: 2rem;
  height: fit-content;
  grid-area: two;
  margin: 2rem;
  border-radius: 10px;
  background-color: #e2e2e2;
}

.card{
  width: 100%;
}

.card > img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
}

.card > div{
  background-color: rgb(255, 186, 102);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.card > div > button{
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #161515;
  background-color: transparent;
  color: #000;
  font-weight: 600;
}

.cart{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-Container{
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;
  position: relative;
}


.cart > img{
  object-fit: scale-down;
  height: 5rem;
  width: 5rem;
}

.cart-description{
  width: 80%;
  display: flex;
  flex-direction: column;
}


.cart-price{
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.cart-price > p{
  font-weight: 600;
}

.cart-price > div{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  
}

.cart-price > div > p{
  font-size: 1rem;
  font-weight: 600;
}

.cart-price > div > button{
  border-radius: 10px;
  width: 2rem;
  outline: none;
  border: 1px solid;
  text-align: center;
  padding: 0.7rem;
  cursor: pointer;
}

.total-class{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}